[2020-02-11 10:20] renovate[bot] opened #6 "Action Required: Fix Renovate Configuration"
There is an error with this repository's Renovate configuration that needs to be fixed. As a precaution, Renovate will stop PRs until it is resolved.

Location: `renovate.json`
Error type: Invalid JSON (parsing failed)
Message: `Syntax error: expecting String near
    },
  `

[2020-02-11 13:01] renovate[bot] opened #7 "Update Dependencies (Renovate Bot)"
This [master issue](https://renovatebot.com/blog/master-issue) contains a list of Renovate updates and their statuses.

## Pending Approval

These branches will be created by Renovate only once you click their checkbox below.

 - [ ] chore(deps): lock file maintenance

## Pending Status Checks

These updates await pending status checks. To force their creation now, check the box below.

 - [ ] cho

[2020-04-07 05:30] rarkins opened #13 "Add documentation for templates and parameters"
Describe which fields can be templates and use the exported values from https://github.com/renovatebot/renovate/blob/139e8bb2c2aa0d190c3b95a659189d1c2b3b76d5/lib/util/template/index.ts#L13-L78 to automatically document the available values.

[2020-04-07 10:04] #13 closed

[2020-04-28 16:22] hogashi opened #17 "docs "Default Presets" page is 404"
It seems that "Default Presets" page in renovate documents site ( https://docs.renovatebot.com/presets-default/ ) returns 404:
![docs renovatebot com_presets-default_](https://user-images.githubusercontent.com/12870472/80510476-beb76f80-89b5-11ea-9ade-05a0385b6dca.png)

<details><summary><code>curl</code> result</summary>

[code]

</details>

I apologize if this issue was made in wrong repo. I don

[2020-04-29 08:22] #17 closed

[2020-04-29 13:25] hogashi commented on #17
Thank you for transferring this issue and fixing docs! :star:

[2020-05-03 08:46] jdbruijn opened #21 "fix: generate datasources"
I'm not entirely sure whether this ticket is supposed to be here or in renovate, but think here obvs.

The datasources page should include an auto-generated list of supported datasources but is empty.
https://docs.renovatebot.com/modules/datasource/#supported-datasources

I saw this was autogenerated in [docs/usage/modules/datasource.md](https://raw.githubusercontent.com/renovatebot/renovate/a21bb

[2020-05-04 19:24] ChipWolf opened #23 "Supported Datasources documentation missing"
In the Renovate Docs under _Renovate Modules_ > _Datasources_. The expected content under the _Supported Datasources_ heading is missing.

https://docs.renovatebot.com/modules/datasource/#supported-datasources

https://github.com/renovatebot/renovate/blob/master/docs/usage/modules/datasource.md

[2020-05-05 06:12] viceice commented on #23
duplicator of #21

[2020-05-05 06:12] #23 closed

[2020-05-05 07:02] #21 closed

[2020-06-12 12:12] janjagusch opened #26 "Documentation for configuring renovate through environment variables"
### Which Renovate are you using?

Renovate Open Source CLI

### Which platform are you using?

GitLab.com

### What would you like to do?

Is there an exhaustive documentation on which environment variables to use to configure renovate? For example, https://github.com/renovatebot/renovate/issues/4984 indicates that you can set a `RENOVATE_HOST_RULES` env var. Also, `GITHUB_COM_TOKEN` and `RENOVAT

[2020-06-12 12:21] rarkins commented on #26
We generate our documentation site from this repo, so I have transferred the issue.

It would be helpful if we auto-generated a new page with has a table of all options supported by CLI and/or env and what their exact names are.

Re: `repositories`, can you try something like `RENOVATE_REPOSITORIES=abc/def,abc/xyz` ?

[2020-06-12 12:39] janjagusch commented on #26
Can confirm that `RENOVATE_REPOSITORIES=abc/def,abc/xyz` does the job, thanks @rarkins! A full documentation on this would be amazing. We want to run renovate in a container and its just much nicer to pass env vars rather than binding a volume. Also makes it easier to separate values and secrets in a kubernetes deployment.

[2020-06-12 12:50] rarkins commented on #26
Did you guess how the environment variables work though? i.e. they always start with RENOVATE_ and then you uppercase them and split words with `_`

[2020-06-12 13:00] janjagusch commented on #26
Yeah, prefixing with `RENOVATE_` would have been my first guess, too. It just seems that there are some exceptions, like e.g. `GITHUB_TOKEN`. Also, this doesn't work with nested objects, like e.g. `RENOVATE_HOST_RULES`, where you essentially need to provide the entire JSON.

I just think that specifying config through env vars is a really useful and some added documentation on it would definitely

[2020-06-12 13:03] rarkins commented on #26
`GITHUB_TOKEN` is no longer used, but maybe you mean `GITHUB_COM_TOKEN`?

Providing the full JSON array for `RENOVATE_HOST_RULES` was the only way we could think to get it to work.

[2020-06-12 13:11] janjagusch commented on #26
Was typing too fast, changed it to `GITHUB_COM_TOKEN`.

One option would be to describe `hostRules` as an object rather than an array. Then you could define the unnested properties as env vars, similar to how poetry does it (https://github.com/renovatebot/renovate/issues/6488).

Example:

[code]

could be expressed as

[code]

[2020-08-16 15:12] arxeiss opened #27 "Github mixed with Gitlab - Typo?"
This is the page about **Gitlab app Installation** https://docs.renovatebot.com/install-gitlab-app/#configuring-a-token-for-githubcom-hosted-release-notes, but there is header of section talking about GitHub.

Is that just a typo, or wrong placed part of the documentation?

[2020-08-16 15:44] rarkins commented on #27
It's 100% correct as is

[2020-08-16 15:44] rarkins commented on #27
Read beyond the header!

[2020-08-16 15:51] arxeiss commented on #27
I'm sorry. I read the whole section before, but I understood it badly. After second read it makes sense...
My fault, thank you for the quick reply

[2020-08-16 15:51] #27 closed

[2020-08-16 16:21] rarkins commented on #27
It could definitely be explained more clearly though, the original source content is in the main repo if you're interested

[2020-09-07 20:23] ctison opened #28 "Use Docusaurus"
Hello,

I read Renovate's documentation through Docusaurus and I finally understood the configurations 😅. (Or maybe was it because it was the second time I read it 🥱).

https://github.com/ctison/renovate-doc -> https://renovate-doc.vercel.app

Using Docusaurus v2 would also allow to easily integrate Algolia (free plan for open source) (cf. https://v2.docusaurus.io/docs/search).

Are you interested

[2020-09-08 04:55] viceice commented on #28
see renovatebot/renovate#6944 for planned docs changes

[2020-09-08 04:55] #28 closed

[2020-09-16 04:37] rarkins opened #29 "Display supportsLockFileMaintenance status"
https://github.com/renovatebot/renovate/search?q=supportsLockFileMaintenance&unscoped_q=supportsLockFileMaintenance

[2020-09-16 04:56] rarkins commented on #28
@ctison hoping you can jump into the other conversation!

[2020-10-26 13:15] viceice commented on #28
@ctison Can we resuse code from your repo https://github.com/ctison/renovate-doc? As we are planning to use docusaurus v2

[2020-10-26 13:20] ctison commented on #28
Yes of course, permission is hereby granted to reuse the code without notification bla bla bla.

[2020-11-24 10:54] HonkingGoose opened #30 "Add automerge configuration guide to sidebar"
@viceice mentioned we need to make some changes in this repository to get the new automerge configuration guide (https://github.com/renovatebot/renovate/pull/7724) in the sidebar of the Renovate documentation site?

I can find the new docs with the search function, but I don't see it in the sidebar when I fully expand all items in the sidebar.
Am I maybe missing it?

Link to public docs: https://d

[2020-11-24 13:56] viceice commented on #30
needs to be added somewhere below here:

https://github.com/renovatebot/renovatebot.github.io/blob/39532b83fd02b1e9aea068ea9af7f384e5f216b5/mkdocs.yml#L26

[2020-11-24 15:21] #30 closed

[2021-02-05 14:21] HonkingGoose commented on #7
We maybe should update our GitHub Action runners?

- `actions/cache` is stable at `v2` now.
- `actions/setup-node` is stable at `v2` now.
- `actions/setup-python` is stable at `v2` now.
- `actions/upload-artifact` is stable at `v2` now.

It might also be good to refresh the lockfile?

[2021-02-05 15:30] HonkingGoose opened #39 "Migrate to Docusaurus v2"
I think the plan is to migrate to Docusaurus v2 within this repository.
We previously linked to https://github.com/renovatebot/docs.renovatebot.com/issues/9 but that was a mistake.

[2021-02-05 16:49] HonkingGoose opened #42 "setup Prettier + create GitHub Action that lints with Prettier?"
Do we want to setup a Prettier configuration + CI that checks for Prettier errors on this repo?
I use Prettier to good effect on my simple Docusaurus v2 repo, but it might get complicated due to some autogenerating content.

Somebody who knows how the build process works should set up the `prettierignore` file so that we're only prettifying things we care about.

[2021-02-05 16:54] viceice commented on #42
Sure, let's do this when we switch to docusaurus. I'll try to make progress on next week's

[2021-02-05 17:00] HonkingGoose commented on #39
@viceice Maybe you can assign this issue to yourself?

[2021-02-05 17:03] HonkingGoose opened #43 "Create issue templates"
I was thinking about making a PR to create issue templates for bugs and feature requests.
But then I realized that I don't know what those issue templates should cover.... 😄

I think in the end, once we've migrated to Docusaurus, the main things we would probably handle on this repository are:
- Styling bugs
- Usability concerns
- Broken stuff due to the migration process
- Missing stuff due to th

[2021-02-05 17:13] viceice commented on #43
Sounds good

[2021-02-05 17:15] HonkingGoose opened #44 "Maybe update the issue discussion lock bot?"
I noticed we have a bot that locks further discussion on closed issues after 7 days: https://github.com/renovatebot/renovatebot.github.io/blob/build/.github/lock.yml

Maybe you should use the GitHub Actions based bot instead of the current bot?

From https://github.com/dessant/lock-threads-app/blob/master/README.md:

[2021-02-05 17:18] viceice commented on #44
Sure, can you migrate it from main renovate repo?

[2021-02-05 17:21] viceice commented on #44
@rarkins can you remove the lock bot app from org. I think it won't work anyways.

[2021-02-05 18:44] HonkingGoose opened #50 "Require branches to be up to date before merging?"
The main Renovate bot repo has The **Require branches to be up to date before merging** checkbox ticked on the Branch Protection tab in the repo settings.

It might be a good idea to enforce the integration of the mainline branch into the PR branch on this repository as well.

[2021-02-05 18:52] HonkingGoose commented on #50
Hmm, I don't know if this will work right-now, we don't have any **required tests** yet?

I've checked in one of my repo branch protection settings what the requirements are to tick the box:

This ensures pull requests targeting a matching branch have been tested with the latest code. This setting will not take effect unless at least one status check is enabled (see below).

[2021-02-05 19:20] HonkingGoose commented on #7
Might want to "pin" this issue, so that the dashboard stays on top of the issue pile?

[2021-02-06 06:49] rarkins commented on #50
Doing so does slow things down quite a bit - is it worth it here? we do so in a code-heavy repo in case two PRs influence each other but less likely here right now.

[2021-02-06 06:50] rarkins commented on #44
It's removed

[2021-02-06 06:50] #44 closed

[2021-02-06 12:04] HonkingGoose commented on #50
I agree, waiting around for the tests to run is not very nice.
I like to be sure that my work is not messing up the mainline because my PR branch was behind on some critical change, so that's why I like to enforce that PR commits are tested with the latest mainline branch.

But we don't (yet) have any meaningful tests, and we're not fully migrated to Docusaurus v2 yet, so we are probably safe hold

[2021-02-06 12:48] #50 closed

[2021-02-06 12:50] #43 closed

[2021-02-06 13:34] HonkingGoose opened #55 "chore: setup semantic commit bot"
**What would you like to be able to do?**

It might be nice to check if the PR titles are using Semantic Commits on this repo as well?
That would prepare us for if we ever want to release versioned docs (though this is hard to to in Docusaurus v2, and not recommended by the Docusaurus devs...)

If anything, having semantic commits will probably make it easier to search the logs for relevant change

[2021-02-28 11:33] HonkingGoose opened #59 "Missing whitespace around items in allowedValues in documentation pages"
**What Renovate type, platform and version are you using?**

Problem is with white-space around items in `allowedValues` in the documentation pages.

**Describe the bug**

1. Go to https://docs.renovatebot.com/configuration-options/#matchstringsstrategy
2. Look at the `allowedValues` row
3. See that `allowedValues` item are missing white-space after each item `any,recursive,combination`
4. Also ta

[2021-03-07 15:10] HonkingGoose opened #60 "Sidebar item visiblity"
**What would you like to be able to do?**

We're currently hiding items in the sidebar by default.
This can cause users to miss useful information like the "Versioning" help in the `docs/usage/modules/versioning.md` file.
So maybe we want to just show all items and not hide anything for now.

Once we migrate to Docusaurus v2 we have a lot more control over what items we want to be visible in the s

[2021-03-07 15:13] HonkingGoose commented on #60
The "show full sidebar idea" was discussed on the main renovatebot repository here: https://github.com/renovatebot/renovate/pull/9017 prior to me opening this issue.

[2021-05-13 08:32] HonkingGoose commented on #39
Docusaurus v2 is now in beta. 🎉 ✨
It supports Node versions: `>= 12.13.0` and Yarn version `>= 1.5`.

Put these `packageRules` in your `renovate.json` file to get the beta releases:

[code]

Installation instructions for Docusaurus v2 can be found here: https://docusaurus.io/docs/installation

[2021-06-07 16:42] silverbucket opened #63 "Config documentation references bad property name `rebaseStale`"
https://docs.renovatebot.com/configuration-options/#updatenotscheduled references a config option `rebaseStale=true` which is not a valid config option.

[2021-06-30 14:33] MatthiasWinzeler commented on #26
if any lost soul ever stumbles upon this and tries to apply this to github actions on a self-hosted Github: the following snippet makes it work:

[code]

where `RENOVATE_GITHUB_COM_TOKEN` is a github.com personal access token and `RENOVATE_TOKEN` a technical user's PAT of the local github instance (both configured in the Github project's settings).

[2021-08-09 13:16] viceice opened #68 "Add dashboard page to getting started section"
**What would you like to be able to do?**

See https://github.com/renovatebot/renovate/issues/11178 and https://github.com/renovatebot/renovate/pull/11183

**Did you already have any implementation ideas?**

[2021-08-11 10:04] HonkingGoose opened #69 "Index page: Link to npm.js results in 404 not found for `renovate` package"
**What browser are you using?**

Firefox.

**Describe the bug**

Link to our `renovate` package on NPM results in a 404 not found from npm.js

**Steps to reproduce**

1. Go to https://docs.renovatebot.com/
2. Click on link with text `an Open Source npm package`
3. See npm.js not found, with picture of a wombat.

**Additional context**

Source file for the index page is: https://github.com/renovate

[2021-08-11 10:04] HonkingGoose commented on #69
@rarkins I like the new index page! Just a little bug sneaked it's way in. 😉

[2021-08-11 12:07] rarkins commented on #69
Fixed, thanks

[2021-08-11 12:07] #69 closed

[2021-08-13 12:26] HonkingGoose commented on #68
We changed plans, the file is now in this path over on the Renovate main repo: `/docs/usage/key-concepts/dashboard.md`.

[2021-08-13 12:32] viceice commented on #68
Ups, nav needs Update anyways. 🤗

[2021-08-13 12:32] HonkingGoose commented on #68
The new `key-concepts` category and the new `dashboard.md` file need to be placed on the sidebar in their correct places. 😉

[2021-08-17 07:26] HonkingGoose commented on #68
This issue can be closed as commit https://github.com/renovatebot/renovatebot.github.io/commit/e9a9598f38ff8c95502261b99c4fc60c526281f1 adds the new key concepts menu to the sidebar, and also adds the dependency dashboard page. 😄

[2021-08-17 07:30] #68 closed

[2021-09-11 13:26] rarkins commented on #60
Yeah, I recall I didn't like the look of it either because there wasn't granular control

[2021-09-11 13:26] #60 closed

[2021-10-28 04:05] JamieMagee opened #92 "Add sidebar link to `replacement` presets"
**What would you like to be able to do?**

Add sidebar link to `replacement` presets

**Did you already have any implementation ideas?**

Dependent on renovatebot/renovate#5558

[2021-11-12 19:36] #92 closed

[2021-11-15 11:25] HonkingGoose opened #95 "Add basic Gitpod configuration to this repository"
**What would you like to be able to do?**

I'd like to be able to get started with Gitpod on this repository in an easy way. Right now I have to run some steps/configuration manually, and it's a bit of a chore to have to keep doing this every time. 😄

**Did you already have any implementation ideas?**

If you want, I can make a basic Gitpod configuration file, that will run the `make` and `mkdocs

[2021-11-16 07:26] #95 closed

[2021-12-01 11:06] HonkingGoose commented on #7
@viceice Can you click on the checkbox for `chore(deps): update dependency mkdocs-material to v8`?

[2021-12-01 13:57] HonkingGoose opened #99 "Syntax highlight breaks display of our config presets"
**What browser are you using?**

Firefox 94.0.2 (64 bit) on Windows 11

**Describe the bug**

The config JSON is displayed too big.

Affected page example: https://docs.renovatebot.com/presets-config/

![bad-display-config-preset](https://user-images.githubusercontent.com/34918129/144246816-a6e64971-00d9-4339-a6bc-d5eb0d4d62d5.png)

**Steps to reproduce**

1. Go to https://docs.renovatebot.com/pre

[2021-12-01 14:08] HonkingGoose commented on #99
I've just tested this on Gitpod by doing a `git revert` on the commit that introduced the syntax highlighting.

This is what we had before:
![after-revert](https://user-images.githubusercontent.com/34918129/144248931-9a18a4d2-b949-4e05-87e8-ebbc1a831899.png)

[2021-12-01 14:20] viceice commented on #99
looks like we need some more newlines after the markdown headers

[2021-12-01 14:28] HonkingGoose opened #101 "Add automated tests?"
**What would you like to be able to do?**

When I made PR #97, I forgot to check the display of our config presets page. This means we deployed a change that was not ready for production. 😞

It easy to miss bad changes like this when testing manually. It also means that updates to Material for MkDocs are risky.

I would like to have some automated tests that check for visual changes, so that unint

[2021-12-01 14:41] HonkingGoose commented on #99
Do you mean that we should change this code?

https://github.com/renovatebot/renovatebot.github.io/blob/61fa1588eb889742bb24573cfe67fd91a848a051/bin/generate-presets.js#L1-L81

[2021-12-01 14:43] viceice commented on #99
probabbly yes

[2021-12-02 10:28] HonkingGoose opened #103 "Use caching features in `actions/setup-node` and `actions/setup-python`"
**What would you like to be able to do?**

Right now we're manually caching dependencies in our GitHub Action workflow files.
`actions/setup-node` [^node] and `actions/setup-python` [^python] now come with built-in caching.

**Did you already have any implementation ideas?**

https://github.com/renovatebot/renovatebot.github.io/blob/c65599c30ac38d8fb1d36e4548c1a1d619255d44/.github/workflows/publis

[2021-12-10 11:28] viceice opened #108 "Use released docs package from renovate to generate docs"
**What would you like to be able to do?**

We should use the now released precompiled renovate docs asset instead of the git submodule.
This will speedup docs generation.
Dowside: we need a renovate release to update docs.

**Did you already have any implementation ideas?**

[2021-12-10 11:35] HonkingGoose commented on #108
Don't we already need a Renovate release to publish our docs? Or did the docs site get updated regularly on a `cron` timer as well?

[2021-12-10 11:38] viceice commented on #108
Currently this repo has the renovate repo as git submodule. So this repo get's updated shortly after a commit on main on renovate repo.
And the update will trigger a docs publish.

[2021-12-12 15:29] HonkingGoose opened #109 "Fix bash scripts to conform to ShellCheck rules"
**What browser are you using?**

Not relevant to report.

**Describe the bug**

Shell Check program/website reports problems with our `.sh` scripts.

**Steps to reproduce**

1. Go to https://github.com/renovatebot/renovatebot.github.io/tree/main/bin
1. Copy/paste the shell script code into the ShellCheck website. [^website]
1. See problems for at least the `bin/get-docs.sh` file.

**Additional con

[2021-12-12 15:36] viceice commented on #109
Is there a way to integrate as ci check?

[2021-12-12 15:39] HonkingGoose commented on #109
Yes! 😉

Read https://github.com/koalaman/shellcheck#in-your-build-or-test-suites to learn more.

[2021-12-12 15:43] viceice commented on #109
💪 can you open a PR? I'll fix the issues then.

[2021-12-12 15:43] HonkingGoose commented on #109
The default Ubuntu 20.04 GitHub Actions environment already has the shellcheck program installed, according to the docs. [^docs]

<html><body>

shellcheck | 0.7.0-2build2
-- | --

</body>
</html>

[^docs]: https://github.com/actions/virtual-environments/blob/main/images/linux/Ubuntu2004-README.md#installed-apt-packages

[2021-12-13 09:30] HonkingGoose commented on #99
The config presets page also breaks when I try adding admonitions [^docs], with the following options in the `mkdocs.yml` file:

[code]

[^docs]: https://squidfunk.github.io/mkdocs-material/reference/admonitions/

[2021-12-13 10:05] HonkingGoose commented on #99
I think the code we need to change is in one of these files here maybe?

https://github.com/renovatebot/renovate/tree/main/tools

[2021-12-13 10:08] viceice commented on #99
Yes, i think we need to check the prepared markdown files for issues. I think there are some missing newlines

[2021-12-13 21:08] #103 closed

[2021-12-16 10:10] HonkingGoose opened #119 "Move `src/index.md` page to main Renovate repository?"
**What would you like to be able to do?**

It's a bit confusing that the homepage/index is in the `renovatebot.github.io` repo.

This has a few drawbacks:

- You cannot suggest changes to the homepage via the "pencil" button on the published docs homepage (because the file is not in the main renovatebot repo)
- It splits the documentation into two parts
- It also means that the "publish docs as as

[2021-12-16 13:53] rarkins commented on #119
https://docs.renovatebot.com/ is not meant for *exclusively* content from github.com/renovatebot/renovate. It's therefore not for sure that we should move such information into that repo in case it needs to start referring to other repos

[2021-12-22 11:20] HonkingGoose opened #121 "Improve Renovate update config for `mkdocs-material`"
**What would you like to be able to do?**

Right now I have to manually request updates to `mkdocs-material`, for `minor` bumps from the maintainers of this repository.

I don't know what the original reasoning was to require dashboard approval for `minor` Python package updates?

I would much rather have Renovate open update PRs for `mkdocs-material` automatically, and then wait for our approval.

[2021-12-22 11:24] viceice commented on #121
Sounds good, suggest a PR in this repo to override settings

[2021-12-22 11:24] viceice commented on #121
Intention was to not silently break our docs.

[2021-12-22 11:25] viceice commented on #121
So remove approval and disable automerge for minor. 🤗

[2022-01-03 09:07] HonkingGoose commented on #119
Oh okay, let's leave things as they are now then. 😄

[2022-01-03 09:07] #119 closed

[2022-01-03 10:22] HonkingGoose commented on #7
@viceice I'd like to get a PR for this update: `chore(deps): update dependency mkdocs-material to v8.1.3`. Can you please click on the checkbox?

[2022-01-03 12:47] #121 closed

[2022-01-03 12:51] #6 closed

[2022-01-03 12:52] #109 closed

[2022-01-03 12:54] viceice commented on #59
I think we now need to move this back to main repo. 😅

[2022-01-03 16:02] HonkingGoose commented on #59
I think the file we'd need to change is now in the main `renovatebot/renovate` repo:

https://github.com/renovatebot/renovate/blob/main/tools/docs/config.ts

[2022-01-03 16:07] HonkingGoose commented on #99
I think this issue should be moved to the main renovate repository as well, as the file is also on the main repo. 😄

[2022-01-03 18:45] HonkingGoose opened #125 "Enable syntax highlight"
**What would you like to be able to do?**

I want to use syntax highlighting, so that the code examples use colors for the code/keywords.

**Did you already have any implementation ideas?**

I already tried the syntax highlighting, but it breaks our presets-config page, due to some bad input.
Once the bad input is fixed we can enable highlighting again.

- [x] https://github.com/renovatebot/renova

[2022-01-06 11:04] HonkingGoose commented on #39
Closing this issue as we have decided to keep using MkDocs and Material for MkDocs.

[2022-01-06 11:04] #39 closed

[2022-01-06 13:31] #125 closed

[2022-01-10 21:17] HonkingGoose opened #129 "Document `mkdocs.yml` configuration options in the config file"
**What would you like to be able to do?**

The `mkdocs.yml` file has a lot of custom Material for MkDocs config options now.
It's hard to remember what each of these options do.

As @viceice said:

**Did you already have any implementation ideas?**

Configuration documentation should go with the configuration file itself, so you don't have to search where the options are documented.

The goals are

[2022-01-19 10:50] HonkingGoose opened #131 "Announcement bar with link to latest major version release notes"
**What would you like to be able to do?**

Users of Renovate frequently get confused and open issues/discussions to report "bugs" that are actually intended behavior from a breaking `major` release of Renovate.

I think we can reduce instances of readers getting confused by mentioning on our Docs homepage what our latest `major` release is, and to give them a link to read the release notes.

**Did

[2022-01-19 11:23] HonkingGoose opened #132 "Use admonitions instead of bolded text"
**What would you like to be able to do?**

Our documentation Markdown highlights important things like this:

[code]

The **bolded** parts stand out, but I think we can do better.
I'd like us to use admonition blocks. [^admonitions]

To make an admonition in the Markdown you use `!!!` then the type [^types] of admonition, and you use 4 spaces to indent the body text of the admonition. [^usage] Lik

[2022-01-19 12:21] rarkins commented on #132
I like it, although let's not overuse it :)

[2022-01-19 12:55] HonkingGoose commented on #132
I agree, we should not overuse admonitions, as that will be too much visual noise.

Which process do you prefer @rarkins?

- One big PR to find and replace all admonitions, and rewrite the text to drop unncessary admonitions.
- Two separate PRs:
  - Find/replace all current admonitions as-is.
  - Rewrite text to drop admonitions.

[2022-01-19 12:58] viceice commented on #132
I think it depends on the amount 🙃  maybe we should do it im multiple pr's, but not too small

[2022-01-20 08:50] HonkingGoose commented on #132
I'll start with the PR to enable the feature on the docs publishing repo first, as we need that for the admonitions to render properly. 😉

[2022-01-20 09:53] #129 closed

[2022-01-20 09:53] #132 closed

[2022-01-24 10:10] viceice commented on #42
Lets add `husky` and `lint-staged` for `pre-commit` validation

[2022-01-24 13:54] viceice opened #133 "Use reviewdog/action-shellcheck"
**What would you like to be able to do?**

We should use the [reviewdog/action-shellcheck](https://github.com/reviewdog/action-shellcheck) github action for shell check to have nice annotations

**Did you already have any implementation ideas?**

[2022-01-24 16:41] HonkingGoose commented on #131
@rarkins What do you think of the idea to have an announcement bar at the top of our documentation website? We could use it to highlight important information like:

- Release notes with **breaking changes** for latest major Renovate version
- Highlight new pages recently added to docs
- Anything else that's important for our readers to know

Unfortunately, you cannot dismiss the announcement bar

[2022-01-24 17:13] HonkingGoose opened #135 "Setup and use `lint-staged` in development and in CI runs"
**What would you like to be able to do?**

@viceice wanted me to install/configure `lint-staged`, but I don't know how I should set it up. 🙈

**Did you already have any implementation ideas?**

Let @viceice do it. 😉

[2022-01-24 17:52] #42 closed

[2022-01-25 05:58] rarkins commented on #131
I think we can find out a way to pay for it. Any other benefits?

[2022-01-25 17:38] HonkingGoose commented on #131
## Management overview

Big benefits of sponsoring:

- Keep development of Material for MkDocs sustainable
- Dismissable announcement bar
- Better search previews
- Social cards when people link to Renovate Docs
- Feedback widget (was this page helpful yes/no feedback)
- Custom admonitions (might be nice to have a deprecation warning custom admonition)

Drawbacks:

- It will be a bit more work to

[2022-01-26 14:28] viceice commented on #133
- https://github.com/containerbase/buildpack/pull/264

[2022-02-28 17:09] HonkingGoose opened #141 "Add `security-and-permissions.md` to sidebar"
**What would you like to be able to do?**

Add `security-and-permissions.md` file to the sidebar.

Follow up for https://github.com/renovatebot/renovate/pull/13748.

**Did you already have any implementation ideas?**

When we see the file on our `main` branch we can add it in the sidebar and check the preview locally.

[2022-02-28 17:49] rarkins commented on #141
File maybe needs some preamble first to make it clear what it's about?

[2022-03-06 20:04] RahulGautamSingh commented on #135
@viceice @HonkingGoose Is it okay if I work on this one? If there is anything similar in Renovate, I can look over it; otherwise, I can learn it.

[2022-03-06 20:16] viceice commented on #135
Sure, there should be some repos using this, eg the `containerbsse/buildpack` repo.

[2022-03-10 18:00] RahulGautamSingh commented on #133
@viceice Can you assign me to this, I have already added the solution for #135 's branch will create a new PR for this one.

[2022-03-11 08:12] #135 closed

[2022-03-11 08:13] #133 closed, assigned to RahulGautamSingh

[2022-03-11 19:49] RahulGautamSingh commented on #101
Hey @HonkingGoose, Can I work on implementing automated tests using Cypress on this one? I am fairly new to front-end testing and this seems to be a good task for me to learn more.

[2022-03-11 19:54] viceice commented on #101
Sure, go ahead.

[2022-03-23 15:30] HonkingGoose commented on #101
Cool!

I think we should install [Testing Libary](https://testing-library.com/) as a development dependency as well. It makes writing tests easier. But I don't know how to set up Testing Library so it works with Cypress. 😞

@Belco90 are you willing to help us with Testing Library? If not that's fine as well. 😉

[2022-03-24 14:24] HonkingGoose opened #152 "Publish security.txt file"
**What would you like to be able to do?**

Publish a `security.txt` file as an extra way for people to find out about our security policy.

Inspired by @astellingwerf's comment: [^comment]

**Did you already have any implementation ideas?**

Find way to publish the `.txt` file in the expected place.

[^comment]: https://github.com/renovatebot/renovate/pull/14570#discussion_r825027999

[2022-03-25 07:16] viceice opened #155 "Use `pip-compile` to pin transitive pip deps"
**What would you like to be able to do?**

We should use `pip-compile` to pin transitive deps, to not get issues like:
- #153

**Did you already have any implementation ideas?**

Yes:
- copy `requirements.txt` to `requirements.in`
- enable `pip-compile` and disable `pip_requirements` in `renovate.json`

[2022-03-25 07:31] #155 closed

[2022-03-25 07:42] viceice commented on #26
The environment variable names are now published, see https://docs.renovatebot.com/self-hosted-configuration/#allowcustomcrateregistries

- fixed by https://github.com/renovatebot/renovate/pull/14259

[2022-03-25 07:42] #26 closed

[2022-03-29 09:49] #152 closed

[2022-04-02 19:01] RahulGautamSingh opened #160 "refactor workflows to deploy only when cypress tests pass"
**Ref** : @viceice 's [comment](https://github.com/renovatebot/renovatebot.github.io/pull/154#pullrequestreview-929415390)

**Task:**
Refactor workflow, so that we only deploy the docs when cypress tests pass.

**Implementation Idea:**

_Combine both workflows ie. cypress and publish-docs._

- There are duplicate steps in the workflows so deleting the cypress-tests workflow and adding the cypress

[2022-04-02 20:01] #160 closed

[2022-04-09 04:42] #141 closed

[2022-04-11 22:04] TWiStErRob opened #164 "Some documentation searches are giving misleading results"
### How are you running Renovate?

WhiteSource Renovate hosted app on github.com

### If you're self-hosting Renovate, tell us what version of Renovate you run.

_No response_

### Please select which platform you are using if self-hosting.

_No response_

### If you're self-hosting Renovate, tell us what version of the platform you run.

_No response_

### Was this something which used to work fo

[2022-04-12 19:57] HonkingGoose commented on #164
The individual manager pages are absent from the `nav` in `mkdocs.yml`. Maybe this causes weirdness when a search hits one of those pages?

https://github.com/renovatebot/renovatebot.github.io/blob/2453ba6333761cb6a8f783a6d9b32040f34e0835/mkdocs.yml#L114-L174

Issue #149 tracks the missing items in the `nav`.

---

Here are the [docs for search in Material for MkDocs](https://squidfunk.github.io/m

[2022-04-26 21:02] HonkingGoose opened #167 "Merge confidence image hosted on GitHub not rendering in published docs"
### What browser are you using?

Firefox

### Other browser name

_No response_

### Describe the bug

I added a screenshot to the [`readme.md` file for the "Merge Confidence"](https://github.com/whitesource/merge-confidence/blob/main/README.md) docs. You can see the screenshot when you view the `readme.md` on GitHub, but you can't see the screenshot on the [published page](https://docs.renovatebo

[2022-04-27 04:27] rarkins commented on #167
Is the image URL it points to correct? And if so then it's a matter of that the image is missing?

[2022-04-27 06:04] viceice commented on #167
![image](https://user-images.githubusercontent.com/1798109/165451576-aa711aa1-8321-4cb1-911d-22d5b7a343cc.png)
url is pointing to repo and returns wrong

This PR should fix the url
- https://github.com/whitesource/merge-confidence/pull/1642

[2022-04-27 06:48] #167 closed

[2022-04-27 07:40] viceice commented on #167
![image](https://user-images.githubusercontent.com/1798109/165467038-9ae9a59b-5b09-4375-8211-02250f918e14.png)
works 🎉

[2022-04-27 15:43] HonkingGoose commented on #167
Thank you @viceice for fixing the link!

I didn't know that CORB was blocking the image from displaying. So next time I want to link to images on GitHub, I should use `https://raw.githubusercontent.com/` as the domain. 😄

[2022-05-04 08:09] rarkins opened #169 "Display open issue list on each module page"
### What would you like to be able to do?

I would like it that module pages like gradle manager or pep440 versioning include a table of open issues linked to their source. This way people browsing the documentation for a manager are more likely to see if there are open feature requests or bug reports for the manager which might affect them.

### Did you already have any implementation ideas?

Fir

[2022-05-04 08:11] rarkins commented on #169
This could potentially be a table with columns for priority and status, or maybe just a HTML list and use github-like labels

[2022-05-04 08:29] viceice commented on #169
sounds good, but that script should be added to main repo, where the other docs generation scripts are.

[2022-05-04 08:36] rarkins commented on #169
Added to the main repo, but only invoked by the docs repo deploy script?

[2022-05-04 09:24] viceice commented on #169
🤔 depends on the solution we choose. 🤔

[2022-05-04 09:29] rarkins commented on #169
As described, I think that capturing the list and embedding it statically into the release archive is non-ideal, unless all other approaches are even worse

[2022-05-04 12:44] HonkingGoose commented on #169
## Example table

It sounds like you want something like this:

Table of open issues for `manager:gradle`:

| Issue | Priority | Status |
| --- | --- | --- |
| [#15044](https://github.com/renovatebot/renovate/issues/15044) | `priority-4-low` | `status:ready` |

## Pre-filled query strings

Creating and maintaining the code to fetch the list of open issues and to create the table in the docs sounds

[2022-05-04 13:05] viceice commented on #169
sounds a lot easier to me 🙃

[2022-05-26 08:40] HonkingGoose opened #175 "Use new About Us page"
### Describe the proposed change(s).

We merged https://github.com/renovatebot/renovate/pull/15661 which created a new `about-us.md` file in a new location.

Todos:

- [x] Wait until Renovate bot updates our Git submodule for `renovatebot/renovate`
- [x] Change `nav` in `mkdocs` for the About Us page so it points to the `docs/usage/about-us.md` file
- [x] Remove the old `about-us.md` in the `src`

[2022-05-27 10:44] #175 closed

[2022-06-08 07:18] HonkingGoose opened #179 "Renovate bot automerges PRs for git submodule `renovatebot/renovate` with failing build"
### Describe the proposed change(s).

Renovate bot automerges PRs which have a failing test, for example:

- https://github.com/renovatebot/renovatebot.github.io/pull/178

We should update out branch protection rules for the `main` branch, so that it checks if the build passes.

[2022-06-08 07:45] HonkingGoose commented on #179
@rarkins or @viceice Did you update the branch protection rules for the `main` branch?

[2022-06-08 08:02] viceice commented on #179
yes

[2022-06-08 08:02] #179 closed

[2022-06-23 09:19] HonkingGoose opened #188 "Add custom `edit_url` for the Merge Confidence page"
### What would you like to be able to do?

The pencil/edit button on the [Merge Confidence page in our docs](https://docs.renovatebot.com/merge-confidence/) doesn't point to the correct location.

The documentation build pulls in the `README.md` file from [`whitesource/merge-confidence`](https://github.com/whitesource/merge-confidence). This means our default "edit button link" doesn't work for th

[2022-06-23 09:40] viceice commented on #188
I'm not sure if we should add it to source file or simply prepend it after download?

@rarkins WDYT?

[2022-07-20 16:29] HonkingGoose commented on #131
## Sponsoring price increase

Heads-up: sponsoring Material for MkDocs will cost more as of September 1, 2022. [^price-change] But you can "lock-in" the old price if you start sponsoring before that date. I updated the pricing table in the post above.

## Closing announcement bar will be free

"marking the announcement bar as read" will be free for anybody soon. 🥳 It's planned to go in the stable

[2022-07-27 13:44] HonkingGoose opened #195 "Create new sidebar section for user stories"
### Describe the proposed change(s).

Todo:

- [x] Wait until PR https://github.com/renovatebot/renovate/pull/16809 is merged
- [x] Wait until Renovate has updated the Git submodule with the contents of that PR
- [x] Create a section for User Stories in the `nav` section of the `mkdocs.yml` config file
- [x] Check sidebar works with `make build && make serve`
- [x] Open PR

[2022-08-03 09:17] HonkingGoose commented on #7
I think we can try these updates that are **Pending Approval**:

- `chore(deps): update actions/setup-python action to v4`
- `chore(deps): update cypress-io/github-action action to v4`
- `chore(deps): update dependency husky to v8`
- `chore(deps): update dependency lint-staged to v13`

The Cypress 10 _package_ update needs manual work before it can be merged.

[2022-08-08 09:29] HonkingGoose opened #208 "Replace `yarn build:docs` with proper command in `get-docs.sh` script"
### Describe the proposed change(s).

https://github.com/renovatebot/renovatebot.github.io/blob/38aae6745b14dfcb7399a27d8c456a579ead8012/bin/get-docs.sh#L15-L18

The `yarn build:docs` command listed above doesn't work.

We have three scripts in our `package.json` now:

https://github.com/renovatebot/renovatebot.github.io/blob/38aae6745b14dfcb7399a27d8c456a579ead8012/package.json#L14-L18

We should

[2022-08-08 09:53] viceice commented on #208
Nope, you missed this `cd` , so we are in `deps/renovate` when calling yarn 😉

https://github.com/renovatebot/renovatebot.github.io/blob/38aae6745b14dfcb7399a27d8c456a579ead8012/bin/get-docs.sh#L13

[2022-08-08 09:53] #208 closed

[2022-08-08 10:43] #188 closed

[2022-08-12 12:53] HonkingGoose opened #210 "Enable emoji support"
### Describe the proposed change(s).

Material for MkDocs supports emoji's [^docs], but we need to enable some extensions first.

**Todo:**

- [x] Enable relevant extensions
- [x] Preview site locally, confirm it works
- [x] Check other things keep working
- [x] Open PR

[^docs]: [Material for MkDocs manual, icons/emojis](https://squidfunk.github.io/mkdocs-material/reference/icons-emojis/)

[2022-08-12 13:02] HonkingGoose opened #211 "Enable image captions"
### Describe the proposed change(s).

Material for MkDocs supports "image captions". [^docs] When you use a image caption, the text for the image is centered below the image. This looks nicer than what we have now.

Example of using image captions:

[code]

To actually use the captions, we need to edit our Markdown files in the main `renovatebot/renovate` repository.

**Todo:**

- [x] enable the r

[2022-08-13 09:00] HonkingGoose opened #213 "Deploy our GitHub Pages site directly from our repository with GitHub Actions"
### Describe the proposed change(s).

We can drop the `gh-pages` branch, and publish directly from our `main` branch instead.

We probably need to change our GitHub Action files to get this working. I don't know enough about this. So I'll let @viceice do it for me. 😉

[GitHub blog, GitHub Pages: Custom GitHub Actions Workflows (beta)](https://github.blog/changelog/2022-07-27-github-pages-custom-gi

[2022-08-13 09:12] #195 closed

[2022-08-15 13:17] #210 closed

[2022-08-15 14:53] #211 closed

[2022-08-16 11:49] rarkins opened #216 "Add site to Google search console"
### What would you like to be able to do?

Gain visibility into visitors to docs.renovatebot.com

### Did you already have any implementation ideas?

We can choose one of these:

### Meta tag in root index file

[code]

### Upload HTML file

We can add an empty file called `googleb17844ca8e94dda1.html` to the site

### Do you want to write this feature yourself?

Maybe

[2022-08-16 15:10] #216 closed

[2022-08-20 18:41] #131 closed

[2022-09-08 10:27] HonkingGoose commented on #101
Someone suggested adding Cypress tests to the upstream `mkdocs-material` project. The maintainer of `mkdocs-material` says: [^quote]

It sounds to me like adding, or even using, Cypress tests is the wrong way to go for us. Even the _maintainer_ of the project doesn't see how it can work for them. 😄

I'll let @rarkins decide what's best, based on this information.

[^quote]: https://github.com/squi

[2022-09-27 18:33] HonkingGoose opened #229 "Replace hooks plugin with native MkDocs 1.4.0 `hooks:` config"
### Describe the proposed change(s).

## Intro

MkDocs 1.4.0 [^mkdocs] has a new `hooks:` [^hooks] config option, which can load in Python scripts. This means we may be able to drop a dependency.

Material for MkDocs does not support this new `hooks:` config option (yet). I opened an issue to ask for the `hooks:` option to be supported, see the todo list below.

## Todo:

- [x] Wait for the update

[2022-10-02 04:23] #229 closed

[2022-10-06 04:59] JamieMagee opened #231 "Support for other languages"
### What would you like to be able to do?

In light of the translation effort happening in Renovate (https://github.com/renovatebot/renovate/pull/17768) I thought it might be reasonable to also provide support for translating documentation.

### Did you already have any implementation ideas?

`mkdocs-material` has a page[^1] dedicated to changing the language and already has support for a language

[2022-10-07 09:37] HonkingGoose opened #233 "Gitpod build error"
### What browser are you using?

Other

### Other browser name

Problem is not with browser

### Describe the bug

The Gitpod container doesn't work for me anymore. The error message is at the bottom of this console output:

[code]

### Steps to reproduce

1. Open the `main` branch in Gitpod. [^gitpod-link]
1. Let Gitpod run these steps: https://github.com/renovatebot/renovatebot.github.io/blob/71

[2022-10-27 10:23] viceice commented on #233
it seems the installed poetry version isn't compatible with the installed python version. will fix it now

- https://github.com/python-poetry/poetry/issues/1487

[2022-10-27 11:44] HonkingGoose commented on #233
After starting a new Gitpod workspace on the latest `main` branch, I get this error:

[code]

It looks like just having the new `.python-version` file is not enough for Gitpod to understand what we want. Maybe we need to change the `gitpod.yml` file, or create our own Docker image that has the correct versions of everything?

https://github.com/renovatebot/renovatebot.github.io/blob/c65f8fabb98067

[2022-10-27 11:55] HonkingGoose commented on #233
I see @viceice changed the Gitpod file to:

[code]

When I try Gitpod with this `gitpod.yml` file I still get an error:

[code]

[2022-10-27 12:13] #233 closed

[2022-10-28 06:36] viceice opened #245 "Migrate from pipenv to poetry"
### Describe the proposed change(s).

pipenv only supports contraining a single python version, but i like to express `>=3.9`.
pipenv also seems to have difficulties when running with a lower python version (like 3.8 on gitpod) when the lockfile was generated with a higher python (due to renovate)

- https://github.com/yhino/pipenv-poetry-migrate

[2022-10-31 08:35] HonkingGoose commented on #245
Sounds good to me. We should have a setup that works on Gitpod/Codespaces and locally. That way contributors can use what works best for them.